
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.technology-parent-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px
}

h1 {
    font-size: 24px;
    padding: 10px;
    margin: 10px;
}

/* Style for the left container */
.terchnology-left-containe {
    flex: 1;
    padding: 10px;
    margin: 20px;
}

.news-card {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.news-img {
    flex: 0 0 150px;
    margin-right: 10px;
}

.news-img img {
    height: 500px;
    width: 500px;
}

.news-content {
    flex: 1;
}


/* Style for the right container */
.technology-right-container {
    /* flex: 1; */
    padding: 1px;
    margin: 20px;
}

.published-date {
    padding: 10px;
}

.news-detail {
    padding: 10x;
    margin: 10px;
}

.advertising-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 580px;
    margin: 10px;
    width: 400px;
}

.news-link {
    text-decoration: none;
    color: black;
}
.tech-right{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
}

/* Mobile View */
@media (max-width: 767px) {
    .technology-parent-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    
    }

    .technology-left-container,
    .technology-right-container {
        flex: 1;
        margin: 0;
        padding: 10px;
    }

    .technology-left-container{
        margin-top: 5rem;
    }

    .news-card {
        flex-direction: column;
    }

    .news-img {
        flex: 0 0 auto;
        margin-right: 0;
    }

    .news-img img {
        height: auto;
        width: 100%;
    }

    .advertising-box {
        height: auto;
        width: 100%;
        margin: 10px;
    }

}

@media screen and (min-width:768px) and (max-width:1024px) {
.technology-parent-container {
        display: flex;
        flex-direction: column;
    }
                .technology-left-container {
                    margin-top: 7rem;
                }
                                                 .advertising_box video {
                                                     width: 700px;
                                                 }
}